{% extends "layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>

{% if message %}
<div class="form-group">
    <label style="color:red"><small>{{ message }}</small></label>
</div>
{% endif %}


<div>
    <blockquote>
        Get free Basic Single Softlock Licenses.
    </blockquote>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Stay connected something really <strong>Cool</strong> is coming.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Contact: <strong><a href="mailto:silentbughub@gmail.com">silentbughub@gmail.com</a></strong> for wallet recharge.</p>
    </div>
</div>


{% endblock %}
