{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>WhatsApp Garage</h1>
    <strong><h2>Cloud Edition</h2></strong>
    <p class="lead">Build, scale, integrate, and quickly move to production with our REST API. Rapidly prototype in our Cloud Engine, use the complete WhatsApp feature set, and drive engagement all through a single API.</p>
    <p><small><a href="#" class="btn btn-primary btn-large">Get Started for Free &raquo;</a></small></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Plugins</h2>
        <p>Software and plugins released for WhatsApp Garage Cloud</p>
        <p><a class="btn btn-default" href="#">See docs &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Documentation</h2>
        <p>Developer resources for APIs and Webhooks</p>
        <p><a class="btn btn-default" href="#">See docs &raquo;</a></p>
    </div>
</div>
{% endblock %}
